---
import { SITE } from 'astrowind:config';
import Image from '~/components/common/Image.astro';
---

<div class="flex items-center">
  <Image
    src="~/assets/images/gj-assist-logo.png"
    alt={SITE?.name}
    class="w-auto h-8"
    width={200}
    height={47}
    loading="eager"
    decoding="async"
  />
</div>